/* ==UserStyle==
@name           Dark yiff.party
@namespace      github.com/sks316/usercss
@version        1.0.1
@description    Dark style for yiff.party
@author         sks316
==/UserStyle== */

/*

██████╗  █████╗ ██████╗ ██╗  ██╗    ██╗   ██╗██╗███████╗███████╗██████╗  █████╗ ██████╗ ████████╗██╗   ██╗
██╔══██╗██╔══██╗██╔══██╗██║ ██╔╝    ╚██╗ ██╔╝██║██╔════╝██╔════╝██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝╚██╗ ██╔╝
██║  ██║███████║██████╔╝█████╔╝      ╚████╔╝ ██║█████╗  █████╗  ██████╔╝███████║██████╔╝   ██║    ╚████╔╝ 
██║  ██║██╔══██║██╔══██╗██╔═██╗       ╚██╔╝  ██║██╔══╝  ██╔══╝  ██╔═══╝ ██╔══██║██╔══██╗   ██║     ╚██╔╝  
██████╔╝██║  ██║██║  ██║██║  ██╗       ██║   ██║██║     ██║██╗  ██║     ██║  ██║██║  ██║   ██║      ██║   
╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝       ╚═╝   ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝      ╚═╝   

###################################################################################################

A userstyle by sks316, built for use with the yiff.party website
Redistribution is allowed with proper credit (i.e. in the theme file) to the original authors, in this case sks316
Report issues to sks316@mail.com, on Discord @sks316#2523, or on Telegram t.me/sks316_2523
I do NOT support content theft in any way, shape, or form. Please support your favorite creators.

###################################################################################################

*/

@-moz-document domain("yiff.party") {
body {
    background: #000;
    color: #c0c0c0
}

.card, .card .card-reveal, #creator-table-container, .bbs-post {
    background: #333;
    color: #c0c0c0
}

.card .card-content .card-title, .grey-text.text-darken-4, .yct-header, .yp-recent-creators-title, .yp-loading, .modal .modal-close, .yp-cat-count {
    color: #fff !important
}

.yp-post-comment {
    background: #444
}

.indigo.lighten-5, .modal, .modal .modal-footer, .dropdown-content li, table.highlight>tbody>tr:hover {
    background-color: #222 !important
}

.bbs-list-subject {
    color: #1d17ae
}

.chip {
    background: #444;
    color: #c0c0c0
}

.grey.lighten-2 {
    background: #333 !important;
    color: #c0c0c0 !important
}

.yp-recent-info, .yp-activity-p, .modal .modal-content {
    color: #c0c0c0
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    color: #c0c0c0
}

.chip:hover {
    background: #666
}

.tabs .tab {
    background: #333
}

.yp-row:hover {
    background-color: #444 !important
}

.btn.disabled {
    background-color: #333 !important
}

img.activator.lazyload, img.activator.lazyloading, img.post-img-inline.lazyload, img.post-img-inline.lazyloading {
    filter: invert(1)
}

.bbs-post-email .bbs-post-name {
    color: #6565b3
}

#creator-table-container, .yp-recent-creator-box, .yp-activity-log, .bbs-post {
    border: 1px #444 solid
}
}
